# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
name: Go create executable file
on:
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19

      - name: Build for all platforms
        run: |
          mkdir -p release
          GOOS=linux GOARCH=amd64 go build -o release/sql-zh-exporter-linux-amd64
          GOOS=darwin GOARCH=amd64 go build -o release/sql-zh-exporter-darwin-amd64
          GOOS=windows GOARCH=amd64 go build -o release/sql-zh-exporter-windows-amd64.exe

      - name: Move config file to release folder
        run: |
          mkdir -p release
          mv config.yml release/
          mv job_config.yml release/
#      - name: Create Release
#        id: create_release
#        uses: actions/create-release@v1.0.0
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          tag_name: ${{ github.ref }}
#          release_name: Release ${{ github.ref }}
#          draft: false
#          prerelease: false

      - name: Upload Linux Binary
        uses: actions/upload-artifact@v2
        with:
          name: sql-zh-exporter-linux-amd64
          path: release/sql-zh-exporter-linux-amd64

      - name: Upload macOS Binary
        uses: actions/upload-artifact@v2
        with:
          name: sql-zh-exporter-darwin-amd64
          path: release/sql-zh-exporter-darwin-amd64

      - name: Upload Windows Binary
        uses: actions/upload-artifact@v2
        with:
          name: sql-zh-exporter-windows-amd64
          path: release/sql-zh-exporter-windows-amd64.exe
